body {
  background-image: url(http://lorempixel.com/output/technics-q-c-640-480-2.jpg);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}
.top-bar {
  background-color: 	#3092CF;
  border-radius: 4px 4px 0 0;
  display: flex;
  height: 65px;
  left: 3px;
  position: absolute;
  right: 0;
  top: 3;
  width: 99%;
}

ul {
  list-style-type: none;
  margin: 0;
}

p {
  color: #91BFE2;
}

.current-person {
  flex: 4 0 0;
  margin: 0 0 0 10px;
}

.current-person h3 {
  color: white;
  display: inline-block;
  font-weight: 400;
  margin-right: 2px;
}

.current-person p {
  display: inline-block;
}

.window-options {
  margin: 12px 17px 0 0;
}

.window-options li {
  display: inline;
}
.window-control-icon {
  color: #B7D4EA;
  margin: 10px;
}

/*******  Side Bar **********/
.side-bar {
  background-color: #F6F7FB;
  border-bottom-left-radius: 4px;
  bottom: 0;
  color: #7B8694;
  height: 596px;
  left: 3px;
  position: absolute;
  top: 68px;
  width: 190px;
}

.friend-box {
  border-bottom: 1px solid #E1E7EE;
  height: 60px;
}

.friend-box-idle {
  background-color: #DFE5EC;
}

.img-div {
  float: left;
  padding: 8px 13px 8px 8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
/*   border: 1px solid red; */
}

.profile-pic {
  border-radius: 50%;
}

.shadow {
  align-items: center;
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.5),
    rgba(255, 0, 0, 0.5)
    ),
    url(http://lorempixel.com/output/people-q-c-35-35-6.jpg);
  background-size: cover;
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  text-align: center;
  width: 35px;
}

.shadow p {
  color: white;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
}

.name-div {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.name-div h5 {
  margin: auto;
}

.circle-icon-div {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.circle-icon{
  border-radius: 50%;
  height: 10px;
  margin: 0 12px 0 0;
  width: 10px;
}

.circle-icon-active {
  background-color: #00C544;
}

.circle-icon-idle {
  background-color: #FF681F;
}

.circle-icon-offline {
  background-color: #D7DDE5;
}


/********* Navigation Bar ************/
.nav-bar {
  background-color: #31405D;
  bottom: 0;
  height: 60px;
  left: 193px;
  position: absolute;
  right: 0;
  top: 68px;
  width: calc(99% - 190px);
}

.nav-actions {
  display: flex;
  height: 60px;
  padding: 0;
}

.nav-actions li {
  border-right: 1px solid #707C8F;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav-actions li:last-child {
  border-right: 0;
}

.nav-actions a {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.nav-actions p {
  color: white;
  vertical-align: middle;
}

.nav-actions i {
  color: #707C8F;
  padding-right: 14px;
}

.nav-active {
  background-color: #00CC6F;
  color: white;
}

.nav-active i {
  color: white;
}


/*********** Message Content Area **************/
.messages {
  background-color: white;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #E1E7EE;
  height: 536px;
  left: 193px;
  position: absolute;
  top: 128px;
  width: calc(99% - 191px);
}

.message-scroll {
  height: 450px;
  overflow-y: scroll;
}

.message {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 35px 15px 10px;
}
.bevel-fix {
  border-bottom: 1px solid #E1E7EE;
}

.msg-img {
  border-radius: 50%;
  height: 40px;
  margin: 20px 15px 0 15px;
  width: 40px;
}

.msg-name {
  color: #929AA3;
  font-weight: 600;
  height: 20px;
  margin: 20px 0 0 0;
  padding: 0;
}

.msg-time {
  color: #A7ACB3;
  margin-left: auto;
}

.msg-p {
  color: #8F94A5;
  font-weight: 400;
  margin: -15px 0 0 0;
  padding: 0 5px 0 70px;
}

.odd {
  border-left: 3px solid #98ADBF;
}

.even {
  border-left: 3px solid #2D90CE;
}

/************ Compose Message Text Area **************/
.text-div{
  background-color: #E0E6ED;
  border: none;
  border-radius: 5px;
  display: flex;
  font-size: medium;
  padding: 0 13px;
  resize: none;
  width: 100%;
}

.text-div textarea {
  background-color: #E0E6ED;
  border: none;
  font-size: medium;
  outline: none;
  padding: 15px 0;
  position: relative;
  resize: none;
  top: 50%;
  transform: translateY(-50%);
  width: 93%;
}

.write-message {
  border-left: 1px solid #E1E7EE;
  border-top: 1px solid #E1E7EE;
  padding: 18px;
}

.write-message button {
  background-color: #E0E6ED;
  border: none;
  color: #A4A9BA;
  margin: 5px;
  outline: none;
  text-decoration: none;
}
